

.navbar .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #1ba771;
}

.navbar.bg-white{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

/* hero */
.hero{
    min-height: 80vh;
   background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)) , url('/images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    text-align: center;
}


.hero h1, p{
    color: #fff;
    line-height: 1.5;
    margin: 15px 0;
}
.hero p{
    font-size: 1.2rem;
}


.hero .hero-center{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}